*{
    margin: 0;
    padding: 0;
}

body{
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 7%;
}

nav{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 0 2em;
    border-bottom: 1px solid black;
}
nav a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}
nav img{
    width: 10%;
    float: left;
    margin: 10px 0;
}

nav ul{
    float: right;
    margin-top: 3%;
}

nav ul li{
    display: inline-block;
    margin: 1em;
}
.main-container {
	max-width: 100%;
    padding: 2em 3em;
    box-shadow: 10px 10px 5px #888888;
    overflow: auto;
}

/*.main-container aside, .main-container main{
    float: left;
	
}


aside{
    width: 35%;
}
aside section{
    background-color: #f4f4f4;
    box-shadow: 3px 4px 7px #888888;
    padding: 10px;
    margin: 0 25px 25px 0;
}*/


main{
    width:  100%;
}
.top{
    margin-bottom: 30px;
}
main article img.hero{
    width: 100%;
}

.centered{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50% -50%);
    color: red;
    font-size: 50px;
}
.imageGroup {
	display: flex;
    justify-content: space-between;
    margin: 5px 0;
    color: #003556;
}
.imageGroup div {
    width: 30%;
    margin: 10px 0;
	
}
.imageGroup div img {
    width: 100%
	
}
article h2{
    font-size: 1.2em;
    color: none;
    padding: 3px;
    text-align: center;
    text-transform: uppercase;
}
article p a{
    display: block;
    color: #fff;
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}

.projects img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}
.projects h2{
    font-size: 2.5em;
}

.ea-project{
    padding: 5px 0;
}
footer{
    color: #fff;
    background: #003556;
    padding: 3px;
    text-align: center;
}
































